{% extends "base.html" %}
{% block title %}OAuth Page{% endblock %}
{% block content %}
<p>This is my page the user is redirected to if the authentication works</p>
<form action="/process_form" method="post">
    <label for="username">Enter your name:</label>
    <input type="text" name="username" value="{{ username }}">
    <br>
    {% for title in titles %}
        <label>
            <input type="checkbox" name="selected_titles" value="{{ title }}">
            {{ title }}
        </label><br>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock%}