{% extends "base.html" %}
{% block title %}ORCiD ID Works Search{% endblock %}
{% block content %}
<h1>Fundings</h1>
<p> Welcome to the <b>Fundings</b> search page. </p>
<p> On this page, all you need to do is enter your ORCiD ID in the form 0000-0000-0000-0000 and click the submit button. </p></p>
<form action="/orcid/fundings" method="post">
    <label for="orcidInput">Enter ORCID ID:</label>
    <input type="text" id="orcidInput" name="orcidInput" placeholder="0000-0000-0000-0000" required>
    <button type="submit">Submit</button>
</form>
{% endblock%}
