{% extends "base.html" %}
{% block title %}ARC Feedback{% endblock %}
{% set page = 'about' %}
{% block content %}

<div class="page-container">
    <div class="welcome-message">
        <h1>Additional information</h1>
        <p class="about-lead" style="font-weight:bold; font-style: italic;">Contact ARC</p>
        <div class="about-feature-card" style="flex-direction:row">
            <a href="mailto:arc.admin@durham.ac.uk" class="button" style="-webkit-text-fill-color: var(--button-text);">
                Email
            </a>
            <a href="https://www.linkedin.com/company/advanced-research-computing-arc/?viewAsMember=true" target="_blank" class="button" style="-webkit-text-fill-color: var(--button-text);">
                LinkedIn
            </a>
            <a href="https://www.instagram.com/arc_durhamuniversity/" target="_blank" class="button" style="-webkit-text-fill-color: var(--button-text);">
                Instagram
            </a>
        </div>
    </div>
    </footer>
</div>

{% endblock %}