{% extends "base.html" %}
{% block title %}ARC Feedback{% endblock %}
{% set page = 'home' %}
{% block content %}

<div class="page-container">
    <div class="welcome-message">
        <h1>Welcome to ARC Feedback</h1>
        <br>
        <br>
        <p class="lead">Explore your ORCiD research outputs and funding information</p>
        <div class="info-section">
            <p class="lead">The purpose of this app is to help speed up the process of keeping the ARC team up to date with your current research.</p>
        </div>
        <div class="feature-card">
            <h2><br>Continue to select relevant work</h2>
            <a href='/publications/search' class="button" aria-label="View publications">
                Begin
            </a>
        </div>
    </div>
</div>

{% endblock %}