{% extends "base.html" %}
{% block title %}ARC Feedback{% endblock %}
{% set page = 'home' %}
{% block content %}

<div class="page-container">
    <div class="welcome-message">
        <h1>Welcome to ARC Feedback</h1>
        <br>
        <br>
        <p class="lead" style="font-weight:bold">Retrieves ORCiD publications and fundings</p>
        <div class="info-section">
            <p class="lead" style="font-style:italic" >This app is utilised to update the ARC team on research outputs that used ARC resources, platforms, or staff support.</p>
        </div>
        <div class="feature-card">
            <h2><br>Press to start the workflow</h2>
            <a href='/publications/sso' class="begin-button" aria-label="View publications">
                Begin
            </a>
        </div>
    </div>
    <br>
    <p>©2025 Durham University</p>
    </footer>
</div>

{% endblock %}